.search_result {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search_result h2 {
    margin-bottom: 1em;
}

.search_result p {
    margin-bottom: 25px;
}

.search_result div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search_result a {
    width: 60px;
}